<nav id="doc-navbar-wrapper">
  <div class="float-left">
    <h1>{{ page.title }}</h1>
  </div>
  {% if layout.use_nav or page.use_nav %}
    <div class="float-right">
      <ul class="doc-navbar" id="doc-navbar-list">
        <li><a href="{{ site.baseurl }}/docs/quickstart/">Quick Start</a></li>
        <li><a href="{{ site.baseurl }}/docs/guides/">Guides</a></li>
        <li><a href="{{ site.baseurl }}/docs/tutorials/">Tutorials</a></li>
        <li><a href="{{ site.baseurl }}/docs/examples/">Examples</a></li>
        <li><a href="{{ site.baseurl }}/docs/reference.html">Reference</a></li>
      </ul>
    </div>
  {% endif %}
</nav>
