<section class="project-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <nav class="main-navbar-wrapper" id="header-navbar">
    <ul class="main-navbar" id="main-navbar-list">
      {% include header-navbar.html %}
    </ul>
  </nav>
  <ul>
    <a href="{{ site.baseurl }}/docs/" class="btn">Get Started</a>
  </ul>
</section>

<script>
function toogleNavbar() {
  var x = document.getElementById("main-navbar-list");
  if (x.className === "main-navbar") {
    x.className += " responsive";
  } else {
    x.className = "main-navbar";
  }
}
</script>
