<nav class="main-navbar-wrapper">
  <ul class="main-navbar" id="main-navbar-list">
    <div class="float-left">
      <li><a href="{{ site.baseurl }}/"><font face=myFont style="font-size: 1.5rem;"><b>xMsg</b></font></a></li>
    </div>
    {% include site-navbar.html %}
  </ul>
</nav>

<script>
function toogleNavbar() {
  var x = document.getElementById("main-navbar-list");
  if (x.className === "main-navbar") {
    x.className += " responsive";
  } else {
    x.className = "main-navbar";
  }
}
</script>
