---
layout: base
---
{% include toc.html %}

<div class="document-wrapper">
  <aside class="left-sidebar">
    <strong>{{ layout.title }}</strong>
    <ul>
      {% for doc in layout.documents %}
        {% capture doc_url %}/docs/{{ layout.id }}/{{ doc }}.html{% endcapture %}
        {% for md in site.pages %}
          {% if doc_url == md.url %}
            {% capture link_title %}{% if md.link %}{{ md.link }}{% else %}{{ md.title }}{% endif %}{% endcapture %}
            <li><a href="{{ site.baseurl }}/{{ doc_url }}" {% if doc_url == page.url %}class='current'{% endif %}>{{ link_title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </aside>
  <div class="content-wrapper">
    <div class="content-container">
      <main class="content">
        {{ content }}
      </main>
    </div>
  </div>
  <aside class="right-sidebar">
  {% unless page.notoc %}
    <div id="toc"></div>
  {% endunless %}
  </aside>
</div>
