---
layout: base
---
{% include toc.html %}

<div class="document-wrapper">
  <aside class="left-sidebar">
    <strong>Quick Start</strong>
    <ul>
      {% assign current = page.url | downcase | split: '/' %}
      <li><a href="{{ site.baseurl }}/docs/quickstart/java.html" {% if current[3] == 'java.html' %}class='current'{% endif %}>Java</a></li>
      <li><a href="{{ site.baseurl }}/docs/quickstart/cpp.html" {% if current[3] == 'cpp.html' %}class='current'{% endif %}>C++</a></li>
      <li><a href="{{ site.baseurl }}/docs/quickstart/python.html" {% if current[3] == 'python.html' %}class='current'{% endif %}>Python</a></li>
    </ul>
  </aside>
  <div class="content-wrapper">
    <div class="content-container">
      <main class="content">
      <h1>{{ page.title }}</h1>
      {{ content }}
      </main>
    </div>
  </div>
  <aside class="right-sidebar">
    <div id="toc"></div>
  </aside>
</div>
